**/.terraform/*

.terraform.lock.hcl

*.tfstate
*.tfstate.*

**/*.log

*.sh
**/*.sh

*.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

*.zip

.vscode/*
